<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"><head>
</head>
<body>
	<footer class="footer" th:fragment="footer">
		<div class="container">
			<p class="text-muted text-center">
				Escaravello Vermello 
				<i class="fa fa-registered" aria-hidden="true"></i>
				2017
			</p>
		</div>
	</footer>
</body>
</html>