<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<title>Suh Sport - Error 505</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
	<link href="#" th:href="@{/css/general.css}" rel="stylesheet" />
	<script type="text/javascript" src="https://use.fontawesome.com/bb05e18015.js"></script>
</head>
<body>

	<div class="container">
	   Error 500 - Error en el servidor
	</div>

</body>
</html>
