<!DOCTYPE html>
   <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<title>Suh Sport - Inicio</title>	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
	<link href="#" th:href="@{/css/general.css}" rel="stylesheet" />
	<script type="text/javascript" src="https://use.fontawesome.com/bb05e18015.js"></script>
	
</head>

<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container">

		<div class="row">
			<div class="col">
				<a href="#" th:href="@{/clients/clientform}" class="a-index">
					<button class="btn btn-lg btn-block btn-index btn-new-client" type="submit">
						<span class="btn-index-name">Nuevo cliente</span>
					</button>
				</a>
			</div>
			<div class="col">
				<a href="#" th:href="@{/payments/paymentform}" class="a-index">
					<button class="btn btn-lg btn-block btn-index btn-new-payment" type="submit">
						<span class="btn-index-name">Nuevo pago</span>
					</button>
				</a>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<a href="#" th:href="@{/clients/clientform}" class="a-index">
					<button class="btn btn-lg btn-block btn-index btn-new-payment" type="submit">
						Function 2
					</button>
				</a>
			</div>
			<div class="col">
				<a href="#" th:href="@{/clients/clientform}" class="a-index">
					<button class="btn btn-lg btn-block btn-index btn-new-client" type="submit">
						Function 3
					</button>
				</a>
				</div>
		</div>
	</div>


	<div th:replace="fragments/footer :: footer">...</div>

	<!-- /container -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>