<!DOCTYPE html>
   <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<title>Suh Sport - Inicio</title>	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
	<link href="#" th:href="@{/css/general.css}" rel="stylesheet" />
	<script type="text/javascript" src="https://use.fontawesome.com/bb05e18015.js"></script>
	
</head>

<body>
	<div th:replace="fragments/header :: header">...</div>

	<a href="#" th:href="@{/clients/clientform}">
		<button class="btn btn-lg btn-warning btn-block" type="submit">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
			Nuevo cliente
		</button>
	</a>

	<div th:replace="fragments/footer :: footer">...</div>

	<!-- /container -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>