<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>Suh Sport - Pagos</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
<link href="#" th:href="@{/css/general.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/select2.css}" rel="stylesheet" />
<script type="text/javascript" src="https://use.fontawesome.com/bb05e18015.js"></script>
</head>

<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container">
	
	<div th:if="${result == 'remove_fail'}" class="alert alert-danger alert-dismissible fade show"
			role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>			
			<strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i></strong> Error en el borrado de pago	
		</div>

		<div th:if="${result == 'remove_ok'}" class="alert alert-success alert-dismissible fade show"
			role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>				
			<strong><i class="fa fa-check-square-o" aria-hidden="true"></i></strong> Pago borrado correctamente
		</div>

		<form action="#" th:action="@{/payments/paymentform/client}"
			method="get" th:object="${client}">

			<div class="form-inline">
				<div class="form-group col-md-10">
					<select class="form-control col-md-12" id="selectActivity"
						th:field="*{id}">
						<option value="0">Selecciona un cliente</option>
						<option th:each="mClient : ${clients}" th:value="${mClient.id}"
							th:text="${mClient.firstName} + ' '+ ${mClient.lastName1} + ' ' + ${mClient.LastName2}"></option>
					</select>
				</div>

				<div class="form-group col-md-2">
					<button type="submit" class="btn btn-warning fill-width">Buscar
						cliente</button>
				</div>
			</div>
		</form>
		<!-- 	<form action="#" th:action="@{/payments/paymentform}" method="post" th:object="${client}"> -->
		<!-- 			<div class="form-row"> -->
		<!-- 			<div class="form-group col-md-4"> -->
		<!-- 				<label for="inputFirstName" class="col-form-label">Nombre</label>  -->
		<!-- 				<input type="text" class="form-control" id="inputFirstName" placeholder="Nombre" th:field="*{firstName}" th:value="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? is-invalid : ''"/> -->
		<!-- 				<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p> -->

		<!-- 			</div>	 -->
		<!-- 			<div class="form-group col-md-4"> -->
		<!-- 				<label for="inputLastName1" class="col-form-label">Primer apellido</label>  -->
		<!-- 				<input type="text" class="form-control" id="inputLastName1" placeholder="Primer apellido" th:field="*{lastName1}" th:value="*{lastName1}" th:classappend="${#fields.hasErrors('lastName1')} ? is-invalid : ''"/> -->
		<!-- 				<p th:if="${#fields.hasErrors('lastName1')}" th:errors="*{lastName1}"></p>				 -->
		<!-- 			</div> -->
		<!-- 			<div class="form-group col-md-4"> -->
		<!-- 				<label for="inputLastName2" class="col-form-label">Segundo apellido</label>  -->
		<!-- 				<input type="text" class="form-control" id="inputLastName2" placeholder="Segundo apellido" th:field="*{lastName2}" th:value="*{lastName2}" th:classappend="${#fields.hasErrors('lastName2')} ? is-invalid : ''"/> -->
		<!-- 			 	<p th:if="${#fields.hasErrors('lastName2')}" th:errors="*{lastName2}"></p> -->
		<!-- 			</div>	 -->
		<!-- 		</div> -->


		<!-- 		<div class="form-row"> -->
		<!-- 			<div class="form-group col-md-4"> -->
		<!-- 				<label for="inputEmail" class="col-form-label">Correo electrónico</label>  -->
		<!-- 				<input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico" th:field="*{email}" th:value="*{email}" th:classappend="${#fields.hasErrors('email')} ? is-invalid : ''"/> -->
		<!-- 				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p> -->
		<!-- 			</div> -->
		<!-- 			<div class="form-group col-md-4"> -->
		<!-- 				<label for="inputPhone" class="col-form-label">Teléfono</label> -->
		<!-- 				<input type="tel" class="form-control" id="inputPhone" placeholder="Teléfono" th:field="*{phone}" th:value="*{phone}" th:classappend="${#fields.hasErrors('phone')} ? is-invalid : ''"/> -->
		<!-- 				<p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p> -->
		<!-- 			</div> -->
		<!-- 			<div class="form-group col-md-4"> -->
		<!-- 				<label for="inputZip" class="col-form-label">Código Postal</label>  -->
		<!-- 				<input type="number" min="0" class="form-control" id="inputZip" placeholder="Código postal" th:field="*{zipCode}" th:value="*{zipCode}" th:classappend="${#fields.hasErrors('zipCode')} ? is-invalid : ''"/> -->
		<!-- 				<p th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></p> -->
		<!-- 			</div> -->
		<!-- 		</div> -->
		
		
		
		<div th:if="${payments != null or not #lists.isEmpty(payments)}" class="table-container">
			<table class="table">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Actividad</th>
						<th>Cuota</th>
						<th>Pago</th>				
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="payment : ${payments}">
						<td><span th:text="${#dates.format(payment.date,'dd-MM-yyyy')}"></span></td>
						<td><span th:text="${payment.activity.name}"></span></td>
						<td><span th:text="${payment.fee.name}"></span></td> 											
						<td><span th:text="${payment.price}"></span></td>
						<td>
							<button type="button" class="btn btn-danger"
								th:attr="data-href=${payment.id},data-name=${#dates.format(payment.date,'dd-MM-yyyy')}"
								data-toggle="modal" data-target="#clientModal">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="submit" class="btn btn-warning">Guardar</button>
		<button type="reset" class="btn btn-defaulrr">Borrar</button>
		<a href="#" th:href="@{/clients/showclients}">
			<button type="button" class="btn btn-primary">Cancelar</button>
		</a>
		<!-- 	</form> -->
	</div>
	
	
	
	<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="clientModalLabel">Borrar cliente</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				  ¿Deseas eliminar el pago '<span class="delete-date"></span>'?			
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>

					<input type="hidden" id="deletePaymentHiddenId" name="deletePaymentHiddenId" value="0" /> 
					<input type="hidden" id="deletePaymentHiddenName" name="deletePaymentHiddenName" value="0" /> 
					
					<a class="btn-delete" id="deletePaymentHiddenbtn">
						<button type="button" class="btn btn-danger">Borrar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="#" th:src="@{/js/select2.js}"></script>

	<script type="text/javascript">
		$('#selectActivity').select2({
			allowClear : true
		});
		
		$('#clientModal').on('show.bs.modal', function (e) {
			$(this).find('.btn-delete').attr('href', $(e.relatedTarget).data('href'));
		  	$('#deletePaymentHiddenId').val($(this).find('.btn-delete').attr('href'));

			$(this).find('.btn-delete').attr('name', $(e.relatedTarget).data('name'));
		  	$('.delete-date').text($(this).find('.btn-delete').attr('name'));
		});
		
		$('#deletePaymentHiddenbtn').click(function (e){
			  e.preventDefault();
			  var id = $('#deletePaymentHiddenId').val();
			  document.location.href = "/payments/removepayment?id=" + id;
		});
	</script>

</body>
</html>